.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 20px 0;
        text-align: center;
    }
    .menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;
        }
    }
}
