/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100dvh;
    width: 100dvw;
}

body {
    font-family: "Roboto", sans-serif;
    background: rgb(240, 171, 252);
    background: linear-gradient(
        135deg,
        rgba(240, 171, 252, 1) 0%,
        rgba(217, 70, 239, 1) 50%,
        rgba(162, 28, 175, 1) 100%
    );
}
