@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}
#root {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #fffbeb;
}
main {
    height: calc(100dvh - 100px);
}
.pageContainer {
    display: grid;
    grid-template-rows: 50px 2fr 1fr;
}
.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
    font-size: 1.25rem;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    body {
        overflow-y: auto;
    }
    main {
        grid-template-columns: 1fr;
    }
    .pageContainer {
        grid-template-rows: 50px 2fr 2fr;
    }
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
    .pageContainer {
        grid-template-rows: 50px 2fr 2fr;
    }
}
