@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html {
    height: 100dvh;
    width: 100dvw;
}
#root {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #fffbeb;
}
main {
    height: calc(100dvh - 100px)
}
.dropdown:hover .dropdown-menu {
    display: block;
}

